@import "./theme.scss";

/* Desktop Screens */
@media screen and (max-width: 1920px) and (min-width: 901px) {

}
/* Tablets */
@media screen and (max-width: 900px) and (min-width: 671px) {

}

/* Phones */
@media screen and (max-width: 670px) {

}

h1.hero__title {

}

h3.city-header {
    font-size: 1rem;
}

header.site-header {
    position: relative;
    z-index: 999;
    height: 60px;
    color: #fff;
    background-color: $primary-color;
    div.site-header__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        div.site-header__section {

        }
    }
}
nav.site-menu {        
    ul.site-menu__inner {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li.site-menu__item {
            display: inline-block;

            a.site-menu__link {
                text-decoration: none;
            }
            a.site-menu__link:visited {
                color: #fff;
            }
        }

        li.site-menu__item:hover {
            cursor: pointer;
            a.site-menu__link {
                color: gold;
                transition: 0.4s ease-in-out;
            }
        }
    }
}


section.hero {

    div.hero__background {
        // position: absolute;
        // top: 0;
        height: 100vh;

        img.hero__image {
            width: 100vw;
        }
    }

    div.hero__overlay {
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 999;
        text-align: center;
        color: #fff;
        margin: auto;

        @include transform(translate(0, 15%));

        h1.hero__title {
            font-size: 3.4rem;
            letter-spacing: 5px;
        }
        p.hero__subtitle {
            
        }
    }
}