$primary-color: #1B242F;
$light-color: #FEFEFE;

@mixin button {
    display: inline-block;
}

body {
    margin: 0;
    font-family: "Montserrat", "sans-serif"
}
.button {
    @include button;
}

/* 

Blue - Perserverance, Vigilance, and Justice

*/